.login-page {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'titilium', sans-serif;
}

  



.login-page :root {
  background-color: transparent;
  
}

.login-page body {
  
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page .container {
  margin-left: 450px;
  margin-bottom: 80px;
  background-color: #293842;
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;
}

.login-page form {
  position: absolute;
  margin-top: 80px;
  transition: 0.5s;
  width: 300px;
  height: 400px;
}

.login-page .buttonsForm {
  outline: none;
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 #1AB188;
}

.login-page .buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
  outline: none;
}

.login-page .btnColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: #1AB188;
  border-radius: 30px;
  transition: 0.3s;
}

.login-page input[type="text"],
.login-page input[type="password"] {
  border: 1px solid white;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
  background-color: #293842;
  color: white;
}

.login-page button[type="submit"] {
  background: #1AB188;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}

.login-page .spann {
  margin-left: 0.5em;
}

.login-page .divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

.login-page #signin {
  left: 25px;
}

.login-page #signup {
  left: 450px;
}

.login-page i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.login-page .iEmail {
  top: 40px;
}

.login-page .iPassword {
  top: 114px;
}

.login-page .iPassword2 {
  top: 190px;
}

.login-page .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
}

.login-page .logo {
  margin-left: 300px;
  width: 300px;
  height: auto;
}

.login-page .frase {
  margin-left: 300px;
  margin-bottom: 40px;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
}
